@font-face {
  font-family: 'BDScript-Regular';
  src: url(./webfonts/BDScript-Bold.woff);
}

@font-face {
  font-family: 'BDScript-Bold';
  src: url(./webfonts/BDScript-Bold.woff);
}

html body {
    background-color: #EFE8DA;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header h1 {
    font-weight: 700;
    margin: 0;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav {
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .nav p {
    margin:0 2rem 1rem;
  }

  .nav a {
    color: #E2334B;
  }

  .nav a:hover {
    color: #000000;
  }

  ul.col-sm-12 {
    display: flex;
    justify-content: center;
  }

  footer .col-sm-2 {
    text-align: center;
  }

  li.col-sm-1::marker {
    display: none;
  }

  header p {
    padding: 0 20px;
    margin: 0;
  }
  
  .jumbotron {
    display: flex;
    align-items: center;
    background-image: url('https://content.codecademy.com/projects/make-a-website/lesson-4/jumbotron.jpg');
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
  }
  
  .jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
  }
  
  .jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
  }
  
  section .row img {
    margin: 0 0 30px;
    width: 100%;
  }
  
  .col-md-6 {
    margin: 0 0 30px;
  }
  
  .btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    text-shadow: none;
    background-color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
  }
  
  .btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 32px;
    height: 32px;
  }

  section.profile {
    height: 23rem;
    display: flex;
    justify-content: center;
  }

  p.profile-pic {
    height: 280px;
    z-index: 4;
  }

  p.oval {
    width: 25rem;
    z-index: 3;
  }

  p.logo {
    width: 200px;
    position: relative;
    margin-top: 50px;
  }

  p.jd {
    color: #000000;
    font-size: 8rem;
    font-family: 'BDScript-Regular';
    transform: rotate(350deg);
  }

  .profile-pic img {
    --b: 4px;  /* border thickness*/
    --s: 30px; /* size of the corner*/
    --g: 10px; /* the gap*/
    --c: #e2334b; 
    
    padding: calc(var(--b) + var(--g));
    background-image:
      conic-gradient(from  90deg at top    var(--b) left  var(--b),#0000 25%,var(--c) 0),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),#0000 25%,var(--c) 0);
    background-position:
      var(--_p,0%) var(--_p,0%),
      calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
    background-size: var(--s) var(--s);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 
      background-position .3s var(--_i,.3s), 
      background-size .3s calc(.3s - var(--_i,.3s));
  }
  .profile-pic img  {
    background-image:
      conic-gradient(from 180deg at top    var(--b) right var(--b),#0000 25%,var(--c) 0),
      conic-gradient(from   0deg at bottom var(--b) left  var(--b),#0000 25%,var(--c) 0);
    background-position:
      calc(100% - var(--_p,0%)) var(--_p,0%),
      var(--_p,0%) calc(100% - var(--_p,0%));
  }
  .profile-pic img:hover {
    background-size: calc(100% - var(--g)) calc(100% - var(--g));
    --_p: calc(var(--g)/2);
    --_i: 0s;
  }

  .collapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 18px;
    /* width: 100%; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .content {
    padding: 0 35px;
    display: none;
    overflow: hidden;
    background-color: #e1334b;
    text-align: left;
    margin: 0 2rem 1rem;
  }

  .active, .collapsible:hover {
    background-color: #000;
  }